<!DOCTYPE html>
<html lang="pt-br">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/img/MPdL(Logo)/MPdL(logo).svg" type="image/x-icon">

	<title><%- process.env.TITLE %></title>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
		type="text/css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

	<!-- Bootstrap Core Css -->
	<link href="/js/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

	<!-- Waves Effect Css -->
	<link href="/js/plugins/node-waves/waves.css" rel="stylesheet" />

	<!-- Animation Css -->
	<link href="/js/plugins/animate-css/animate.css" rel="stylesheet" />

	<!-- Dropzone Css -->
	<link href="/js/plugins/dropzone/dropzone.css" rel="stylesheet">

	<!-- Bootstrap Material Datetime Picker Css -->
	<link href="/js/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css"
		rel="stylesheet" />

	<!-- Bootstrap DatePicker Css -->
	<link href="/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />

	<!-- Wait Me Css -->
	<link href="/js/plugins/waitme/waitMe.css" rel="stylesheet" />

	<!-- Bootstrap Select Css -->
	<link href="/js/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />

	<!-- Custom Css -->
	<link href="/css/css/style.css" rel="stylesheet">
	<link href="/css/css/themes/all-themes.css" rel="stylesheet" />

	<script>
		function openPdf(pdfbase64) {

			//var documento = 'data:application/pdf;base64,' + pdfbase64;
			let pdfWindow = window.open("");
			pdfWindow.document.write("<object width='100%' height='100%' type='application/pdf' data='data:application/pdf;base64, " + pdfbase64 + "'></object>");
			//pdfWindow.document.title = nome;
		}
	</script>

</head>

<body id="theme-teal">
	<!-- Header -->
	<%- include ../template/topo.ejs %>
	<!-- Menu -->
	<%- include ../template/menu.ejs %>
	<!-- Content Wrapper -->
	<section class="content">
		<!-- Begin Page Content -->
		<div class="content-fluid">
			<!-- Page Heading -->
			<div class="row clearfix">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="card">
						<div class="header">
							<h2>Informações do requerimento de <%= nome %></h2>
							<a href="/app/<%= page %>/list" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm" class="btn bg-blue waves-effect" style="float: right; margin-top: -26px; margin-right: 5px; padding: 8px 14px;">Cancelar</a>
						</div>
						<div class="body">
							<form id="wizard_with_validation" method="POST" action="/app/<%= page %>/edit/submit" class="user" enctype="multipart/form-data">
								<h3>DADOS DO REQUERIMENTO</h3>
								<fieldset>
									<div class="row">
										<div class="col-sm-4">
											<div class="input-group">
												<div class="form-line">
													NOME:
													<input type="text" class="form-control"
													treatment="capitalize" id="nome" name="nome" value="<%= nome %>">
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="input-group">
												<div class="form-line">
													CPF:
													<input type="text" class="form-control"
													id="cpf" name="cpf" value="<%= cpf %>" disabled>
													<input type="hidden" class="form-control" id="cpf" name="cpf"
													value="<%= cpf %>">
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="input-group">
												<div class="form-line">
													E-MAIL:
													<input type="email" class="form-control" id="email" name="email" value="<%= email %>">
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-4">
											<div class="input-group">
												JORNAL:
												<select class="form-control show-tick" name="caderno" id="caderno"
													disabled>
													<option value="" disabled selected hidden>Selecione uma
														opção
													</option>
													<option value="EXECUTIVO" <%=caderno=='EXECUTIVO' ? 'selected'
														: '' %>>Executivo</option>
													<option value="TERCEIROS" <%=caderno=='TERCEIROS' ? 'selected'
														: '' %>>Terceiros
													</option>
													<option value="SUPLEMENTO_TERCEIROS"
														<%=caderno=='SUPLEMENTO_TERCEIROSS' ? 'selected' : '' %>
														>Suplemento Terceiros
													</option>
													<option value="SUPLEMENTO_EXECUTIVO"
														<%=caderno=='SUPLEMENTO_EXECUTIVO' ? 'selected' : '' %>
														>Suplemento Executivo
													</option>
												</select>
											</div>
											<input type="hidden" id="caderno" name="caderno" value="<%= caderno %>">
										</div>
										<div class="col-sm-4">
											<div class="input-group">
												TIPO DE PESQUISA:
												<select class="form-control show-tick" name="pesquisa" id="pesquisa"
													disabled>
													<option value="" disabled selected hidden>Selecione uma
														opção
													</option>
													<option value="NOMEACAO" <%=pesquisa=='NOMEACAO' ? 'selected'
														: '' %>>Nomeação</option>
													<option value="EXONERACAO" <%=pesquisa=='EXONERACAO'
														? 'selected' : '' %>>Exoneração
													</option>
													<option value="APOSENTADORIA" <%=pesquisa=='APOSENTADORIA'
														? 'selected' : '' %>>Aposentadoria
													</option>
													<option value="REFORMA" <%=pesquisa=='REFORMA' ? 'selected' : ''
														%>>Reforma
													</option>
													<option value="EXCLUSAO" <%=pesquisa=='EXCLUSAO' ? 'selected'
														: '' %>>Exclusão
													</option>
													<option value="LEI" <%=pesquisa=='LEI' ? 'selected' : '' %>>Lei
													</option>
													<option value="DECRETO" <%=pesquisa=='DECRETO' ? 'selected' : ''
														%>>Decreto
													</option>
													<option value="PORTARIA" <%=pesquisa=='PORTARIA' ? 'selected'
														: '' %>>Portaria
													</option>
												</select>
											</div>
											<input type="hidden" id="pesquisa" name="pesquisa"
												value="<%= pesquisa %>">
										</div>
										<div class="col-sm-4">
											<div class="input-group">
												<div class="form-line">
													TERMOS DE BUSCA:
													<textarea rows="1" class="form-control no-resize"
														maxlength="1000"
														placeholder="Informe mais detalhes para tornar a busca mais rápida..."
														id="termo" name="termo" disabled><%= termo %></textarea>
												</div>
												<input type="hidden" class="form-control" id="termo" name="termo"
													value="<%= termo %>">
											</div>
										</div>
									</div>	
									<div class="row">
										<div class="col-sm-4">
											<div class="input-group">
												<div class="form-line">
													DATA DO PEDIDO:
													<input type="text" class="form-control" id="data" name="data"
														value="<%= data %>" disabled>
													<input type="hidden" class="form-control" id="data" name="data"
														value="<%= data %>">
												</div>
											</div>
										</div>
									</div>	
								</fieldset>
								<h3>RESPOSTA AO REQUERIMENTO</h3>
								<fieldset>
									<div class="row">
										<div class="col-sm-4">
											<div class="col-sm-4">
												<div class="form-line">
													<% if(retornoBiblioteca.anexo[0].anexo == null) { %>
														ANEXO: <input type="file" id="retornoBiblioteca" name="retornoBiblioteca" accept="application/pdf">
													<% }else { %>
														ANEXO ENVIADO: <a download="ANEXO" href="data:application/pdf;base64,<%= retornoBiblioteca.anexo[0].anexo %>" data-toggle="tooltip" data-placement="top"
														onclick="openPdf('<%= retornoBiblioteca.anexo[0].anexo %>')" title="BAIXAR ANEXO" &nbsp<i style="color: #1445a0" class="material-icons">print</i>
														</a>
														<input class="form-control" type="hidden" name="retornoBiblioteca" id="retornoBiblioteca"  accept="application/pdf" value="<%= retornoBiblioteca.anexo[0].anexo %>">
														<input class="form-control" type="hidden" name="documentoId" id="documentoId"  value="<%= retornoBiblioteca.anexo[0].id%>">
													<% } %>
												</div>
											</div>											
										</div>

										<div class="col-sm-4">
											<div class="input-group">
												<div class="form-line">
													RESPOSTA:
													<textarea rows="1" class="form-control no-resize"
														maxlength="1000"
														placeholder="Informe detalhes sobre a resposta ao requerimento..."
														id="respostaText"
														name="resposta"><%= retornoBiblioteca.anexo[0].resposta %></textarea>

													<input class="form-control" type="hidden" name="resposta" id="respostaInput" value="<%= retornoBiblioteca.anexo[0].resposta%>">													
												</div>
											</div>
										</div>

										<input type="hidden" id="id" name="id" value="<%= id %>">
									</div>									
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->

	</section>
	<!-- End of Content Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="login.html">Logout</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Jquery Core Js -->
	<script src="/js/plugins/jquery/jquery.min.js"></script>

	<!-- Bootstrap Core Js -->
	<script src="/js/plugins/bootstrap/js/bootstrap.js"></script>

	<!-- Slimscroll Plugin Js -->
	<script src="/js/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

	<!-- Jquery Validation Plugin Css -->
	<script src="/js/plugins/jquery-validation/jquery.validate.js"></script>

	<!-- JQuery Steps Plugin Js -->
	<script src="/js/plugins/jquery-steps/jquery.steps.js"></script>

	<!-- Waves Effect Plugin Js -->
	<script src="/js/plugins/node-waves/waves.js"></script>

	<!-- Autosize Plugin Js -->
	<script src="/js/plugins/autosize/autosize.js"></script>

	<!-- Jquery Mask Js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

	<!-- Moment Plugin Js -->
	<script src="/js/plugins/momentjs/moment.js"></script>

	<!-- Dropzone Js -->
	<script src="/js/plugins/dropzone/dropzone.js"></script>

	<!-- Bootstrap Material Datetime Picker Plugin Js -->
	<script src="/js/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>

	<!-- Bootstrap Datepicker Plugin Js -->
	<script src="/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

	<!-- Custom Js -->
	<script src="/js/js/pages/forms/form-wizard.js"></script>

	<!-- Select Plugin Js -->
	<script src="/js/plugins/bootstrap-select/js/bootstrap-select.js"></script>

	<!-- Inclusão de Máscaras Js-->
	<script src="/js/shopping-crianca-mask.js"></script>

	<!-- Custom Js -->
	<script src="/js/js/admin.js"></script>

</body>

</html>
