<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/img/MPdL(Logo)/MPdL(logo).svg" type="image/x-icon">

  <title>
    <%- process.env.TITLE %>
  </title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
    type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

  <!-- Bootstrap Core Css -->
  <link href="/js/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Waves Effect Css -->
  <link href="/js/plugins/node-waves/waves.css" rel="stylesheet" />

  <!-- Animation Css -->
  <link href="/js/plugins/animate-css/animate.css" rel="stylesheet" />

  <!-- Dropzone Css -->
  <link href="/js/plugins/dropzone/dropzone.css" rel="stylesheet">

  <!-- Bootstrap Material Datetime Picker Css -->
  <link href="/js/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css"
    rel="stylesheet" />

  <!-- Bootstrap DatePicker Css -->
  <link href="/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />

  <!-- Wait Me Css -->
  <link href="/js/plugins/waitme/waitMe.css" rel="stylesheet" />

  <!-- Bootstrap Select Css -->
  <link href="/js/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />

  <!-- Custom Css -->
  <link href="/css/css/style.css" rel="stylesheet">
  <link href="/css/css/themes/all-themes.css" rel="stylesheet" />

  <script>
    function openPdf(pdfbase64) {

      //var documento = 'data:application/pdf;base64,' + pdfbase64;
      let pdfWindow = window.open("");
      pdfWindow.document.write("<object width='100%' height='100%' type='application/pdf' data='data:application/pdf;base64, " + pdfbase64 + "'></object>");
      //pdfWindow.document.title = nome;
    }
  </script>

</head>

<body id="theme-teal">
  <!-- Header -->
  <%- include ../template/topo.ejs %>
    <!-- Menu -->
    <%- include ../template/menu.ejs %>
      <!-- Content Wrapper -->
      <section class="content">
        <!-- Begin Page Content -->
        <div class="content-fluid">
          <!-- Page Heading -->
          <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="header">
                  <h2>Informações do requerimento de <%= nome %>
                  </h2>
                  <a href="/app/<%= page %>/list" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"
                    class="btn bg-blue waves-effect"
                    style="float: right; margin-top: -26px; margin-right: 5px; padding: 8px 14px;"> &#8592; Voltar	</a>
                </div>
                <div class="body">

                </div>
              </div>
            </div>
          </div>
        </div>

      </section>



      <!-- Jquery Core Js -->
      <script src="/js/plugins/jquery/jquery.min.js"></script>
      <!-- Bootstrap Core Js -->
      <script src="/js/plugins/bootstrap/js/bootstrap.js"></script>
      <!-- Slimscroll Plugin Js -->
      <script src="/js/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
      <!-- Jquery Validation Plugin Css -->
      <script src="/js/plugins/jquery-validation/jquery.validate.js"></script>
      <!-- JQuery Steps Plugin Js -->
      <script src="/js/plugins/jquery-steps/jquery.steps.js"></script>
      <!-- Waves Effect Plugin Js -->
      <script src="/js/plugins/node-waves/waves.js"></script>
      <!-- Autosize Plugin Js -->
      <script src="/js/plugins/autosize/autosize.js"></script>
      <!-- Jquery Mask Js -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
      <!-- Moment Plugin Js -->
      <script src="/js/plugins/momentjs/moment.js"></script>
      <!-- Dropzone Js -->
      <script src="/js/plugins/dropzone/dropzone.js"></script>
      <!-- Bootstrap Material Datetime Picker Plugin Js -->
      <script src="/js/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
      <!-- Bootstrap Datepicker Plugin Js -->
      <script src="/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
      <!-- Custom Js -->
      <script src="/js/js/pages/forms/form-wizard.js"></script>
      <!-- Select Plugin Js -->
      <script src="/js/plugins/bootstrap-select/js/bootstrap-select.js"></script>
      <!-- Inclusão de Máscaras Js-->
      <script src="/js/shopping-crianca-mask.js"></script>
      <!-- Custom Js -->
      <script src="/js/js/admin.js"></script>

</body>

</html>