<!DOCTYPE html>
<html lang="pt-br">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/img/sdc-color.svg" type="image/x-icon">
	<title>
		<%- process.env.TITLE %>
	</title>
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
		type="text/css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

	<!-- Bootstrap Core Css -->
	<link href="/js/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

	<!-- Waves Effect Css -->
	<link href="/js/plugins/node-waves/waves.css" rel="stylesheet" />

	<!-- Animation Css -->
	<link href="/js/plugins/animate-css/animate.css" rel="stylesheet" />

	<!-- Bootstrap Material Datetime Picker Css -->
	<link href="/js/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css"
		rel="stylesheet" />

	<!-- Bootstrap DatePicker Css -->
	<link href="/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />

	<!-- Wait Me Css -->
	<link href="/js/plugins/waitme/waitMe.css" rel="stylesheet" />

	<!-- Bootstrap Select Css -->
	<link href="/js/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />

	<!-- Custom Css -->
	<link href="/css/css/style.css" rel="stylesheet">
	<link href="/css/css/themes/all-themes.css" rel="stylesheet" />


</head>

<body class="theme-teal">
	<%- include ../template/topo.ejs %>
		<%- include ../template/menu.ejs %>
			<!-- Page Wrapper -->
			<section class="content">
				<!-- início do preloader -->
				<div id="preloader">
					<div class="inner">
						<div class="front">
							<img src="/img/sdc-color.svg" w />
							<!-- HTML DA ANIMAÇÃO MUITO LOUCA DO SEU PRELOADER! -->
							<div class="bolas">
								<div></div>
								<div></div>
								<div></div>
							</div>
						</div>
					</div>
				</div>
				<!-- fim do preloader -->
				<div class="content-fluid">
					<%- messages() %>
						<div class="block-header">
							<h2>Editar Responsável</h2>
						</div>
						<form class="user" method="POST" action="/app/<%= page %>/edit/submit"
							enctype="multipart/form-data">
							<div class="row clearfix">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="card">
									<% if ( usuario_niveis=='ESCOLA' ) { %>
										<div class="header">
											<h2>
												Informações Gerais da Escola
											</h2>
										</div>
										<div class="body">
											<div class="row clearfix">
												<div class="col-sm-4">
													<div class="form-group">
														Nome da Escola:
														<p>
															<%= nome %>
														</p>
														<input type="hidden" class="form-control" id="nome"
															name="nome" treatment="capitalize" value="<%= nome %>">
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														Tipo de Escola:
														<select name="tipoEscolaResponsavel"
															id="tipoEscolaResponsavel" class="form-control"
															value="<%= tipoEscolaResponsavel %>" disabled>
															<option value="PARTICULAR">Particular</option>
															<option value="PUBLICA">Pública</option>
														</select>
														<input type="hidden" class="form-control"
															id="tipoEscolaResponsavel" name="tipoEscolaResponsavel"
															value="<%= tipoEscolaResponsavel %>">
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														Gestor:
														<p>
															<%= gestor %>
														</p>
														<input type="hidden" class="form-control" id="gestor"
															name="gestor" treatment="capitalize"
															value="<%= gestor %>">
													</div>
												</div>
											</div>
											<div class="row clearfix">
												<div class="col-sm-4">
													<div class="form-group">
														CNPJ:
														<p id="cnpj_texto">
															<%= cnpj %>
														</p>
														<input type="hidden" class="form-control" id="cnpj"
															name="cnpj" value="<%= cnpj %>">
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														Email:
														<p>
															<%= email %>
														</p>
														<input type="hidden" class="form-control" id="email"
															name="email" value="<%= email %>">
													</div>
												</div>
											</div>
										</div>
										<input type="hidden" id="niveis" name="niveis" value="ESCOLA">

										<% } else { %>
											<div class="header">
												<h2>
													Informações Gerais do Responsável
												</h2>
											</div>
											<div class="body">
												<div class="row clearfix">
													<div class="col-sm-4">
														<div class="form-group">
															<div class="form-line">
																Nome Completo:
																<input type="text" class="form-control" id="nome"
																	name="nome" treatment="capitalize"
																	value="<%= nome %>">
															</div>
														</div>
													</div>
													<div class="col-sm-4">
														<div class="form-group">
															CPF:
															<p id="cpf_texto"></p>
															<input type="hidden" class="form-control" id="cpf"
																name="cnpj" value="<%= cnpj %>">
														</div>
													</div>
													<div class="col-sm-4">
														<div class="input-group">
															Sexo: *
															<p id="sexo"></p>
															<div
																style="visibility: hidden !important; display: none !important;">
																<select class="form-control show-tick"
																	name="sexoResponsavel" id="sexoResponsavel"
																	disabled>
																	<option value="MASCULINO">Masculino</option>
																	<option value="FEMININO">Feminino</option>
																	<option value="NAO_INFORMADO">Não Informado
																	</option>
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="row clearfix">
													<div class="col-sm-4">
														<div class="form-group">
															<div class="form-line">
																Contato: (Telefone ou Celular) *
																<input type="text" class="form-control"
																	id="endereco_celular" name="endereco_celular"
																	value="<%= endereco_celular %>">
															</div>
														</div>
													</div>
													<div class="col-sm-4">
														<div class="form-group">
															<div class="form-line">
																Email:
																<input type="email" class="form-control" id="email"
																	name="email" value="<%= email %>">
															</div>
														</div>
													</div>
												</div>
											</div>
											<input type="hidden" id="niveis" name="niveis" value="RESPONSAVEL">

											<% } %>
									</div>
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="card">
										<div class="header">
											<h2>
												Endereço
											</h2>
										</div>
										<div class="body">
											<div class="row clearfix">
												<div class="col-sm-4">
													<div class="form-group">
														<div class="form-line">
															Logradouro:
															<input type="text" class="form-control" id="endereco_logradouro"
																name="endereco_logradouro" treatment="capitalize"
																value="<%= endereco_logradouro %>">
														</div>
													</div>
													<div class="form-group">
														<div class="form-line">
															Número:
															<input type="text" class="form-control" id="numero"
																treatment="capitalize" name="numero"
																value="<%= endereco_numero %>">
														</div>
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<div class="form-line">
															Bairro:
															<input type="text" class="form-control" id="endereco_bairro"
																name="endereco_bairro" treatment="capitalize"
																value="<%= endereco_bairro %>">
														</div>
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<div class="form-line">
															CEP:
															<input type="text" class="form-control" id="endereco_cep"
																name="endereco_cep" value="<%= endereco_cep %>">
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="card">
										<div class="header">
											<h2>
												Deferimento
											</h2>
										</div>
										<div class="body">
											<div class="row clearfix">
												<div class="col-sm-4">
													<div class="form-group">
														<div class="form-line">
															Deferido?
															<select name="deferido" id="deferido" class="form-control"
																value="<%= deferido %>">
																<option value="false">Indeferido</option>
																<option value="true">Deferido</option>
															</select>
														</div>
													</div>
												</div>
											</div>
											<div id="divMotivo" class="row clearfix">
												<div class="col-sm-4">
													<div class="input-group">
														<div class="form-line">
															Motivo:
															<input type="text" class="form-control" id="motivo"
																name="motivo" value="<%= motivo %>" required>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="footer-card">
											<input type="submit" value="Salvar"
												class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" />
											<a href="/app/<%= page %>/list"
												class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm">Cancelar</a>
										</div>
									</div>
								</div>
							</div>
							<input type="hidden" id="id" name="id" value="<%= id %>">
							<input type="hidden" id="endereco_id" name="endereco_id" value="<%= endereco_id %>">
							<input type="hidden" id="usuario_id" name="usuario_id" value="<%= usuario_id %>">
							<input type="hidden" id="usuario_username" name="usuario_username"
								value="<%= usuario_username %>">
							<input type="hidden" id="usuario_password" name="usuario_password"
								value="<%= usuario_password %>">
							<input type="hidden" id="usuario_nome" name="usuario_nome" value="<%= usuario_nome %>">

							<br /><br />
						</form>

				</div>

			</section>


			<!-- Jquery Core Js -->
			<script src="/js/plugins/jquery/jquery.min.js"></script>

			<!-- Bootstrap Core Js -->
			<script src="/js/plugins/bootstrap/js/bootstrap.js"></script>

			<!-- Select Plugin Js -->
			<script src="/js/plugins/bootstrap-select/js/bootstrap-select.js"></script>

			<!-- Slimscroll Plugin Js -->
			<script src="/js/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

			<!-- Waves Effect Plugin Js -->
			<script src="/js/plugins/node-waves/waves.js"></script>

			<!-- Autosize Plugin Js -->
			<script src="/js/plugins/autosize/autosize.js"></script>

			<!-- Moment Plugin Js -->
			<script src="/js/plugins/momentjs/moment.js"></script>

			<!-- Bootstrap Material Datetime Picker Plugin Js -->
			<script
				src="/js/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>

			<!-- Bootstrap Datepicker Plugin Js -->
			<script src="/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

			<!-- Custom Js -->
			<script src="/js/js/admin.js"></script>
			<script src="/js/js/pages/forms/basic-form-elements.js"></script>


			<!-- Jquery Mask Js -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

			<!-- Inclusão de Máscaras Js-->
			<script src="/js/shopping-crianca-mask.js"></script>

			<!-- Mostra/Oculta input de motivo do indeferimento - [ end ]-->
			<script>
				$(document).ready(function () {
					$('#sexoResponsavel option[value=<%= sexoResponsavel %>]').attr('selected', 'selected');
					$('#sexo').html($('#sexoResponsavel').find(":selected").text());
					$('#cpf_texto').html($('#cpf').val());
					$('#cnpj_texto').html($('#cnpj').val());
				})
			</script>

			<!-- Seleciona a opção predefinida das opções 'Deferido' ou 'Indeferido' - [ start ]-->
			<script>
				$('#deferido option[value=<%= deferido %>]').attr('selected', 'selected');
			</script>
			<!-- Seleciona a opção predefinida das opções 'Deferido' ou 'Indeferido' - [ end ]-->

			<!-- Mostra/Oculta input de motivo do indeferimento - [ start ]-->
			<script>
				$(document).ready(function () {
					verifica();

					$('#deferido').on('change', function () {
						verifica();
					});

					function verifica() {
						deferido = $('#deferido').val();
						if (deferido === 'false') {
							$('#divMotivo').show();
							$('#motivo').attr("required", "req").val('<%= motivo %>');
						} else {
							$('#divMotivo').hide();
							$('#motivo').removeAttr("required").val(null);
						}
					}
				})
			</script>

</body>

</html>