<!DOCTYPE html>
<html lang="pt-br">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/img/MPdL(Logo)/MPdL(logo).svg" type="image/x-icon">
	<title>
		<%- process.env.TITLE %>
	</title>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
		type="text/css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

	<!-- Bootstrap Core Css -->
	<link href="/js/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

	<!-- Waves Effect Css -->
	<link href="/js/plugins/node-waves/waves.css" rel="stylesheet" />

	<!-- Animation Css -->
	<link href="/js/plugins/animate-css/animate.css" rel="stylesheet" />

	<!-- Dropzone Css -->
	<link href="/js/plugins/dropzone/dropzone.css" rel="stylesheet">

	<!-- Bootstrap Material Datetime Picker Css -->
	<link href="/js/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css"
		rel="stylesheet" />

	<!-- Bootstrap DatePicker Css -->
	<link href="/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />

	<!-- Wait Me Css -->
	<link href="/js/plugins/waitme/waitMe.css" rel="stylesheet" />

	<!-- Bootstrap Select Css -->
	<link href="/js/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />

	<!-- Custom Css -->
	<link href="/css/css/style.css" rel="stylesheet">
	<link href="/css/css/themes/all-themes.css" rel="stylesheet" />

</head>

<body class="theme-teal">
	<%- include ../template/topo.ejs %>
	<%- include ../template/menu.ejs %>
	<!-- Page Wrapper -->


	<section class="content">
		<div class="content-fluid">
			<%- messages() %>
			<div class="block-header">
				<h2>Editar mensagem</h2>
			</div>
			<form class="user" id="frmFileUpload2" method="POST" action="/app/<%= page %>/edit/submit"
				enctype="multipart/form-data">
				<div class="row clearfix">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="card">
							<div class="header">
								<h2>Informações da mensagem</h2>
							</div>
							<div class="body">
								<div class="row clearfix">
									<div class="col-sm-4">
										<div class="input-group">
											<div class="form-line">
												Título: *
												<input type="text" class="form-control" id="titulo" name="titulo"
													treatment="capitalize" value="<%= titulo %>">
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="input-group">
											<div class="form-line">
												Data de Expiração: *
												<input type="date" class="form-control" id="dataExpiracao"
													name="dataExpiracao" value="<%= dataExpiracao %>">
											</div>
										</div>
									</div>
								</div>
								<div class="row clearfix">
									<div class="col-sm-12">
										<div class="input-group">
											<div class="form-line">
												Mensagem: *
												<div class="dropzone"
													style="background-color: #eee !important; padding: 10px;">
													<div class="imageSelected"
														style="position: absolute; margin-top: 7px;">
														<div class="dz-preview dz-image-preview">
															<div class="dz-image"
																style="width: auto; max-width: 225px;">
																<img data-dz-thumbnail="" alt="IMG_6251.PNG"
																	src="data:image/png;base64, <%= mensagem %>"
																	style="height: 100%;">
															</div>
														</div>
													</div>
													<div class="dz-message">
														<div class="drag-icon-cph">
															<i class="material-icons">touch_app</i>
														</div>
														<h3>Solte a imagem aqui ou clique para fazer o
															upload.</h3>
													</div>
													<div class="fallback">
														<input type="file" id="photo" name="photo" />
													</div>
													<div class="previewImage">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<input type="hidden" id="id" name="id" value="<%= id %>">

							</div>
							<div class="footer-card">
								<input type="submit" value="Salvar"
									class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" />
								<a href="/app/<%= page %>/list"
									class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm">Cancelar</a>
							</div>
						</div>
					</div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				</div>
			</form>
		</div>
	</section>


	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready to end your current
					session.
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="login.html">Logout</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Jquery Core Js -->
	<script src="/js/plugins/jquery/jquery.min.js"></script>

	<!-- Bootstrap Core Js -->
	<script src="/js/plugins/bootstrap/js/bootstrap.js"></script>

	<!-- Select Plugin Js -->
	<script src="/js/plugins/bootstrap-select/js/bootstrap-select.js"></script>

	<!-- Slimscroll Plugin Js -->
	<script src="/js/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

	<!-- Waves Effect Plugin Js -->
	<script src="/js/plugins/node-waves/waves.js"></script>

	<!-- Autosize Plugin Js -->
	<script src="/js/plugins/autosize/autosize.js"></script>

	<!-- Moment Plugin Js -->
	<script src="/js/plugins/momentjs/moment.js"></script>

	<!-- Dropzone Js -->
	<script src="/js/plugins/dropzone/dropzone.js"></script>

	<!-- Bootstrap Material Datetime Picker Plugin Js -->
	<script src="/js/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>

	<!-- Bootstrap Datepicker Plugin Js -->
	<script src="/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

	<!-- Custom Js -->
	<script src="/js/js/admin.js"></script>
	<script src="/js/js/pages/forms/basic-form-elements.js"></script>


	<!-- Script Dropzone -->
	<script>

		$("#frmFileUpload2").dropzone({
			thumbnailWidth: 350,
			thumbnailHeight: 350,
		})

		Dropzone.autoDiscover = false;
		$("#frmFileUpload2").dropzone({
			url: '/app/<%= page %>/edit/submit',
			paramName: "photo",
			autoProcessQueue: false,
			uploadMultiple: false,
			maxFiles: "1",
			createImageThumbnails: true,
			addRemoveLinks: true,
			acceptedMimeTypes: "image/*",
			previewsContainer: ".previewImage",
			dictCancelUpload: "Cancelar Upload",
			dictRemoveFile: "Remover Imagem",
			
			accept: function (file, done) {
				done(file.nome)
			},
			maxfilesexceeded: function (file) {
				this.removeAllFiles();
				this.addFile(file);
			},
			init: function () {
				controle = false;
				this.on("addedfile", function (file) {
					$(".imageSelected").hide();
					$(".dz-message").hide();
					controle = true;
				})

				this.on("removedfile", function (file) {
					$(".imageSelected").show();
					$(".dz-message").show();
					controle = false;
				})
				var submitButton = $("#frmFileUpload2");
				var wrapperThis = this;

				submitButton.submit(function (e) {
					if (controle == true) {
						e.preventDefault();
						e.stopPropagation();
						wrapperThis.processQueue();
					}
				});

				//send all the form data along with the files:
				this.on("sendingmultiple", function (data, xhr, formData) {
					formData.append("titulo", $("#titulo").val());
					formData.append("dataExpiracao", $("#dataExpiracao").val());

				});
			},
			success: function (file, response) {
				window.location.replace('/app/<%= page %>/list');
			},
			error: function (file, response) {
				window.location.replace('/app/<%= page %>/list');
			}
		});
	</script>



</body>

</html>