<!DOCTYPE html>
<html lang="pt-br">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/img/MPdL(Logo)/MPdL(logo).svg" type="image/x-icon">

	<title><%- process.env.TITLE %></title>

	<!-- Custom fonts for this template-->
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">


	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
		type="text/css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

	<!-- Bootstrap Core Css -->
	<link href="/js/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

	<!-- Waves Effect Css -->
	<link href="/js/plugins/node-waves/waves.css" rel="stylesheet" />

	<!-- Animation Css -->
	<link href="/js/plugins/animate-css/animate.css" rel="stylesheet" />

	<!-- Custom Css -->
	<link href="/css/css/style.css" rel="stylesheet">

	<!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
	<link href="/css/css/themes/all-themes.css" rel="stylesheet" />

	<!-- Custom styles for this page -->
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
	<script src="https:/ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>


</head>

<body class="theme-teal">
	<!-- Content Wrapper -->
	<div id="content-wrapper" class="d-flex flex-column">

		<!-- Main Content -->
		<section class="content">
			<!-- Begin Page Content -->
			<div class="container-fluid">

				<button type="button" class="btn btn-default waves-effect m-r-20" data-toggle="modal"
					data-target="#defaultModal">MODAL - DEFAULT SIZE</button>
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">COMUNICADE</h5>
							<button class="close" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
							<div class="modal-body">
								<div class="row">
									<img width="600" height="600" src="data:image/png;base64, <%= itens[tamanho - 1].mensagem %> " />
								</div>
							</div>
							<div class="modal-footer">
								<button class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm" type="button" data-dismiss="modal">Cancelar</button>
							</div>
					</div>


				<!-- <div class="row clearfix">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="card">
							<!-- Page Heading -->
							<div class="header">
								<h2><%= itens[tamanho - 1].titulo %></h2>
							</div>

							<div class="body">
								<img width="300" height="300" src="data:image/png;base64, <%= itens[tamanho - 1].mensagem %> " />
							</div>

						</div>

					</div>

				</div> -->

			</div>
			<!-- /.container-fluid -->

		</section>
		<!-- End of Main Content -->



	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Atenção!</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<form id="modalExemplo" method="post" action="/app/<%= page %>/delete/">
					<input type="hidden" name="id" id="campo">
					<div class="modal-body">Você realmente deseja apagar este item?</div>
					<div class="modal-footer">
						<button class="d-none d-sm-inline-block btn btn-sm shadow-sm" type="button" data-dismiss="modal"
							style="background-color: #8A7D51; color: #fff;">Cancelar</button>
						<input type="submit" value="Excluir"
							class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm" />
					</div>
				</form>
			</div>
		</div>
	</div>




	<!-- Jquery Core Js -->
	<script src="/js/plugins/jquery/jquery.min.js"></script>

	<!-- Bootstrap Core Js -->
	<script src="/js/plugins/bootstrap/js/bootstrap.js"></script>

	<!-- Slimscroll Plugin Js -->
	<script src="/js/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

	<!-- Waves Effect Plugin Js -->
	<script src="/js/plugins/node-waves/waves.js"></script>

	<!-- Jquery CountTo Plugin Js -->
	<script src="/js/plugins/jquery-countto/jquery.countTo.js"></script>

	<!-- Morris Plugin Js -->
	<script src="/js/plugins/raphael/raphael.min.js"></script>
	<script src="/js/plugins/morrisjs/morris.js"></script>

	<!-- Custom Js -->
	<script src="/js/js/admin.js"></script>
	<script src="/js/js/pages/index.js"></script>

	<!-- Page level plugins -->
	<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="/js/demo/datatables-demo.js"></script>

	<!-- Jquery Mask Js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

	<!-- Inclusão de Máscaras Js-->
	<script src="/js/shopping-crianca-mask.js"></script>

</body>

</html>